@media (min-width: 82em) {
  .background {
    position: fixed;
    top: 0;
    left: 82rem;
    bottom: 0;
    width: 18rem;

    background-image: url("/blcx/images/background.jpg");
    background-size: cover;
    background-position: right;
  }
}
@media (min-width: 100em) {
  .background {
    left: auto;
    right: 0;
  }
}
