@media (min-width: 105em) {
  .background {
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 18rem;

    /*background-image: url("/blcx/images/background.jpg");*/
    background-size: cover;
    background-position: right;
  }
}
