/*one fill: #2ecc71*/
/*multiple: #69dd9a*/

#background-container {
  position: relative;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  margin-bottom: 1rem;
}
#donations-background {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  margin-top: -60px;
}
#donations-progress {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 60px;
  margin-top: -60px;
}
#donations-text {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 60px;

  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

.progress-0, .background-1 {
  background-color: #69dd9a;
  border-bottom: 2px solid #54d88c;
  -webkit-box-shadow: inset 0 -2px #54d88c;
  box-shadow: inset 0 -2px #54d88c;
}
.progress-1 {
  background-color: #2ecc71;
  border-bottom: 2px solid #29b765;
  -webkit-box-shadow: inset 0 -2px #29b765;
  box-shadow: inset 0 -2px #29b765;
}
.background-0 {
  background-color: #7b7f7d;
  border-bottom: 2px solid #6e7270;
  -webkit-box-shadow: inset 0 -2px #6e7270;
  box-shadow: inset 0 -2px #6e7270;
}

/* #Peter River Flat Button
==================================================*/
.peter-river-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #258cd1;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #258cd1;
  box-shadow: inset 0 -2px #258cd1;
}
.peter-river-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Amethyst Flat Button
==================================================*/
.amethyst-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #9b59b6;
  border: 0;
  border-bottom: 2px solid #8f4bab;
  -webkit-box-shadow: inset 0 -2px #8f4bab;
  box-shadow: inset 0 -2px #8f4bab;
}
