---
layout: default
title: "Announcements"
permalink: /announcements.html
---

<h1>
  Announcements
</h1>
<br />

{% include adsense_top.html %}

<ul>
  {% for announcement in site.announcements reversed %}

  <li>
    <strong>
    {% assign d = announcement.date | date: "%-d" %}
    {{ announcement.date | date: "%b" }}
    {% case d %}
      {% when "1" or "21" or "31" %}
        {{ d }}st,
      {% when "2" or "22" %}
        {{ d }}nd,
      {% when "3" or "23" %}
        {{ d }}rd,
      {% else %}
        {{ d }}th,
    {% endcase %}
    {{ announcement.date | date: "%Y" }}
    </strong>
    <br />
    &nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp
    <a href="{{ site.baseurl }}{{ announcement.url }}">{{ announcement.short }}</a>
  </li>
  <br />

  {% endfor %}
</ul>

{% include adsense_bottom.html %}
