---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent Updates</h1>

  {% assign ntime = 'now' | date: '%s' | plus: 0 %}
  {% assign stime = 'now' | date: '%s' | minus: 259200 | date: '%s' | plus: 0 %}
  {% assign zero = 0 | plus: 0 %}

  <ul>
    {% for chapter in site.translated reversed %}

      {% assign ptime = chapter.date | date: '%s' | plus: 0 | minus: stime %}
      {% assign dtime = chapter.date | date: '%s' | plus: 0 | minus: ntime %}

      {% if ptime < zero %}
        {% break %}
      {% endif %}

      {% if dtime > zero %}
        {% continue %}
      {% endif %}

      <li>
        <strong>
          {% assign d = chapter.date | date: "%-d" %}
          {{ chapter.date | date: "%b" }}
          {% case d %}
            {% when "1" or "21" or "31" %}
              {{ d }}st,
            {% when "2" or "22" %}
              {{ d }}nd,
            {% when "3" or "23" %}
              {{ d }}rd,
            {% else %}
              {{ d }}th,
          {% endcase %}
          {{ chapter.date | date: "%Y" }}
        </strong>
        <br />
          {{ chapter.number }}
        &nbsp&nbsp&nbsp
        <a href="{{site.baseurl}}{{chapter.url}}">
          {{ chapter.title }}
        </a>
        <br />
        <br />
      </li>

    {% endfor %}
  </ul>


  <h1 class="page-heading">Table of Contents</h1>

  <ul>
    {% assign book = 0 %}

    {% for chapter in site.data.saber %}

      {% assign cnum = chapter.number | plus: 0 %}
      {% assign bnum = site.data.books[book].number | plus: 0 %}

      {% if bnum == cnum %}

        <li>
          <h2>
            {{ site.data.books[book].name }}: {{ site.data.books[book].title }}
          </h2>
        </li>
        {% assign book = book | plus: 1 %}

      {% endif %}

      <li>
        &nbsp&nbsp&nbsp
        {{ chapter.number }}
        &nbsp&nbsp&nbsp
        <a href="{{ chapter.url }}">
          {{ chapter.title }}
        </a>
      </li>
    {% endfor %}

    <!-- The rest which are not from Saber -->
    {% for chapter in site.translated %}

      {% assign dtime = chapter.date | date: '%s' | plus: 0 | minus: ntime %}

      {% if dtime > zero %}
        {% break %}
      {% endif %}

      {% assign cnum = chapter.number | plus: 0 %}
      {% assign bnum = site.data.books[book].number | plus: 0 %}

      {% if bnum == cnum %}

        <li>
          <h2>
            {{ site.data.books[book].name }}: {{ site.data.books[book].title }}
          </h2>
        </li>
        {% assign book = book | plus: 1 %}

      {% endif %}

      <li>
        &nbsp&nbsp&nbsp
        {{ chapter.number }}
        &nbsp&nbsp&nbsp
        <a href="{{site.baseurl}}{{chapter.url}}">
          {{ chapter.title }}
        </a>
      </li>
    {% endfor %}

  </ul>

</div>
