---
layout: default
---

<div class="home">

  {% include adsense_top.html %}

  <h1><a href="{{ site.baseurl }}/announcements/" class="page-heading">Recent Announcements</a></h1>

  {% assign announcements = site.announcements | reverse %}
  {% assign count = 0 | plus: 0 %}
  {% assign zero = 0 | plus: 0 %}
  <ul>
    {% for announcement in announcements %}
    {% assign count = count | plus: 1 %}

    <li>
      <strong>
      {% assign d = announcement.date | date: "%-d" %}
      {{ announcement.date | date: "%b" }}
      {% case d %}
        {% when "1" or "21" or "31" %}
          {{ d }}st,
        {% when "2" or "22" %}
          {{ d }}nd,
        {% when "3" or "23" %}
          {{ d }}rd,
        {% else %}
          {{ d }}th,
      {% endcase %}
      {{ announcement.date | date: "%Y" }}
      </strong>
      <br />
      &nbsp&nbsp&nbsp
      <a href="{{ site.baseurl }}{{ announcement.url }}">
        {{ announcement.short }}
      </a>
    </li>
    {% if count >= 3 %}
      {% break %}
    {% endif %}
    {% endfor %}
  </ul>

  <h1><a href="{{ site.baseurl }}/chapters/" class="page-heading">Recent Chapters</a></h1>

  {% assign translated = site.translated | reverse %}
  {% assign count = 0 | plus: 0 %}
  {% assign zero = 0 | plus: 0 %}
  <ul>
    {% for chapter in translated %}
    {% assign count = count | plus: 1 %}

    <li class="list_indent">
      &nbsp&nbsp&nbsp
      {{ chapter.number }}
      <!-- &nbsp&nbsp&nbsp -->
      <!-- <a href="{{ site.baseurl }}/original/{{ chapter.number }}"> -->
        <!-- 中文 -->
      <!-- </a> -->
      &nbsp&nbsp&nbsp
      <a href="{{ site.baseurl }}{{ chapter.url }}">
        {{ chapter.title }}
      </a>
    </li>
    {% if count >= 7 %}
      {% break %}
    {% endif %}
    {% endfor %}
  </ul>

  {% include adsense_bottom.html %}
<!--
  <h1><a href="{{ site.baseurl }}/sponsors/" class="page-heading">Recent Sponsors</a></h1>

  <table class="clear">
    {% assign recent = site.data.sponsors | sort: 'date' %}
    {% assign count = 0 | plus: 0 %}
    {% for sponsor in recent reversed %}
    {% assign count = count | plus: 1 %}

    <tr>
      <td>
        {{ sponsor.date }}
      </td>
      <td>
        {{ sponsor.name }}
      </td>
      <td>
        <script type="text/javascript">
          document.write(curfy({{ sponsor.amount }}))
        </script>
      </td>
      </a>
    </tr>
    {% if count >= 5 %}
      {% break %}
    {% endif %}
    {% endfor %}
  </table>
 -->
</div>
