<!-- This file should contain all site wide info -->
<!-- This will also allow for some specific pages to have access to different variables stored in JS -->

<!-- Donations -->
<!-- Recent Sponsors -->
<!-- Recent Chapters -->


<link rel="stylesheet" href="{{ site.baseurl }}/css/infobar.css">

<div class="infobar">
  <!-- Donations -->
  <div class="infobar-box">
    <h1>
      <a href="{{ site.baseurl }}/donations.html">
        Donations
      </a>
    </h1>
    <h2>
      Queue
    </h2>
    <script type="text/javascript">
      if(queue >= 0)
      {
        document.write(queue);
      }
      else
      {
        document.write(0);
      }
      document.write(" Chapter");
      if(queue != 1)
      {
        document.write("s");
      }
    </script>
    <h2>
      Current
    </h2>
    <script type="text/javascript">
      document.write(curfy(currentdonations) + " / " + curfy(calcdonations(9802189, 4220, average)));
    </script>
    <h2>
      Total
    </h2>
    <script type="text/javascript">
      document.write(curfy(totaldonations));
    </script>
    </ul>
  </div>

  <!-- Recent Sponsors -->
  <div class="infobar-box">
    <h1>
      <a href="{{ site.baseurl }}/sponsors.html">
        Recent Sponsors
      </a>
    </h1>
    {% assign sponsors = site.data.sponsors | reverse %}
    {% assign count = 0 | plus: 0 %}
    {% assign ntime = site.time | date: '%s' | plus: 0 %}
    {% assign zero = 0 | plus: 0 %}
    {% if site.data.sponsors | size > 0 %}
    <table>
      {% for sponsor in sponsors %}
      {% assign count = count | plus: 1 %}

      <tr>
        <td>
          <strong>
            {{ sponsor.name }}
          </strong>
        </td>
        <td>
          <script type="text/javascript">
            document.write(curfy({{ sponsor.amount }}))
          </script>
        </td>
      </tr>
      {% if count >= 3 %}
        {% break %}
      {% endif %}
      {% endfor %}
    </table>
    {% endif %}
  </div>

  <!-- Recent Chapters -->
  <div class="infobar-box">
    <h1>
      <a href="{{ site.baseurl }}/">
        Recent Chapters
      </a>
    </h1>
    {% assign chapters = site.translated | reverse %}
    {% assign count = 0 | plus: 0 %}
    {% assign ntime = site.time | date: '%s' | plus: 0 %}
    {% assign zero = 0 | plus: 0 %}
    <ul>
      {% for chapter in chapters %}
      {% assign dtime = chapter.date | date: '%s' | plus: 0 | minus: ntime %}
      {% if dtime > zero %}
        {% continue %}
      {% else %}
        {% assign count = count | plus: 1 %}
      {% endif %}

      <li>
        <strong>
          {{ chapter.number }}
        </strong>
        <br />
        &nbsp&nbsp&nbsp
        <a href="{{site.baseurl}}{{chapter.url}}">
          {{ chapter.title }}
        </a>
      </li>
      {% if count >= 3 %}
        {% break %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
