<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        {{ site.title_chinese }}
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">
        {{ site.author_chinese }}
        <br />
        {{ site.author }}
      </p>
      <p class="lead">{{ site.description }}</p>
      <p class="lead">
        Chapters 0001 - 0024 translated by Saber at
        <a href="https://sabertranslations.wordpress.com/">Saber Translations</a>.
      </p>
      <p class="lead">
        Chinese novel
        <a href="http://www.520xs.com/10264/">link</a>.
      </p>
    </div>

  </div>
</div>
