---
layout: default
---


<!-- Page Functions -->
<script type="text/javascript">
function numfy(val) {
  // http://stackoverflow.com/a/2901298

  var parts = val.toString().split(".");
  parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  return parts.join(".");
}

function curfy(val) {
  return "$" + numfy(val.toFixed(2))
}
</script>
<!-- Page Functions -->



{% assign ntime = site.time | date: '%s' | plus: 0 %}
{% assign ptime = page.date | date: '%s' | plus: 0 | minus: ntime %}
{% assign zero = 0 | plus: 0 %}




<div class="page">
  <h1 class="page-title">Chapter {{ page.name }}</h1>
  <h1 class="page-title">{{ page.title }}</h1>



  <!-- Display if post date greater the current date -->
  {% if ptime < zero %}



  <p class="post-meta">
    <time datetime="{{ page.date }}" itemprop="datePublished">
    {% assign d = page.date | date: "%-d" %}
    {{ page.date | date: "%A" }},
    {{ page.date | date: "%b" }}
    {% case d %}
      {% when "1" or "21" or "31" %}
        {{ d }}st,
      {% when "2" or "22" %}
        {{ d }}nd,
      {% when "3" or "23" %}
        {{ d }}rd,
      {% else %}
        {{ d }}th,
    {% endcase %}
    {{ page.date | date: "%Y" }}
    </time>
  </p>

  <br />

  Raw: <a href="{{ page.chinese }}">{{ page.name }}</a>.

  <br />
  <br />
  <br />

  {% if page.sponsored %}
  <h2>
    Sponsors
  </h2>
  <!-- Sponsors Go Here -->
  <script type="text/javascript">
    var total = 0;
    var count = 0;
  </script>
  {% for book in site.data.donations %}
    <script type="text/javascript">
    var cpc = {{ book.characters }} / {{ book.chapters }}
    var dpc = {{ book.donations }} / cpc
    total += dpc;
    count += 1;
    </script>
  {% endfor %}
  <script type="text/javascript">
    var average = total / count;
    var cost = {{ page.characters}} * average;
    var beforecost = 0;
  </script>
  {% for chapter in site.translated %}

    {% if page.name == chapter.name %}
      {% break %}
    {% endif %}

    {% if chapter.sponsored %}
      <script type="text/javascript">
        beforecost += {{ chapter.characters}} * average;
      </script>
    {% endif %}
  {% endfor %}
  <script type="text/javascript">
    console.log(beforecost);
    console.log(cost);
  </script>
  <ul>
  {% for sponsor in site.data.sponsors %}
    <script type="text/javascript">
      console.log(beforecost);
      if(beforecost >= 0 )
      {
        console.log("Greater than zero");
        beforecost -= {{ sponsor.amount }}
        console.log(beforecost);
        console.log(beforecost + cost);
        if(beforecost < 0)
        {
          // console.log("{{ sponsor.name }}");
          // console.log({{ sponsor.amount }});
          document.write("<li><strong> &nbsp&nbsp&nbsp {{ sponsor.name }} </strong> &nbsp&nbsp&nbsp " + curfy({{ sponsor.amount }}) + " </li>");
          // document.write({{ sponsor.amount }});
        }
      }
    </script>
  {% endfor %}
  </ul>

  <br />
  <br />
  <br />
  {% endif %}


  {{ content }}

  <br />

  {% assign ntime = site.time | date: '%s' | plus: 0 %}
  {% assign zero = 0 | plus: 0 %}

  {% for chapter in site.translated %}
    {% if chapter.name == page.name %}

      {% unless forloop.first %}
        <br />
        <a href="{{site.baseurl}}{{prev.url}}">Previous Chapter: {{prev.name}}</a>
        <!-- {{ prev.url }} -->
      {% endunless %}

      {% unless forloop.last %}
        {% assign next = site.translated[forloop.index] %}

        {% assign dtime = next.date | date: '%s' | plus: 0 | minus: ntime %}

        {% if dtime < zero %}
          <br />
          <a href="{{site.baseurl}}{{next.url}}">Next Chapter: {{next.name}}</a>
        {% endif %}

      {% endunless %}

    {% endif %}

    {% assign prev = chapter %}

  {% endfor %}

  <br />



  <!-- Display if post date greater the current date -->
  {% endif %}



</div>
