---
layout: default
---

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">


{% assign ntime = site.time | date: '%s' | plus: 0 %}
{% assign ptime = page.date | date: '%s' | plus: 0 | minus: ntime %}
{% assign zero = 0 | plus: 0 %}


<div class="page">
  <h1 class="page-title">Chapter {{ page.name }}</h1>
  <h1 class="page-title">{{ page.title }}</h1>



  <!-- Display if post date greater the current date -->
  {% if ptime < zero %}



  <h2 class="page-date">
    <time datetime="{{ page.date }}" itemprop="datePublished">
    {% assign d = page.date | date: "%-d" %}
    {{ page.date | date: "%A" }},
    {{ page.date | date: "%b" }}
    {% case d %}
      {% when "1" or "21" or "31" %}
        {{ d }}st,
      {% when "2" or "22" %}
        {{ d }}nd,
      {% when "3" or "23" %}
        {{ d }}rd,
      {% else %}
        {{ d }}th,
    {% endcase %}
    {{ page.date | date: "%Y" }}
    </time>
  </h2>

  <div class="spacer">
    <hr>
    Raw: <a href="{{ page.chinese }}">{{ page.name }}</a>.
    <br />
    Post comments / concerns / typos in the comments section below or on <a href="{{ page.reddit }}">Reddit</a>.
    And if you enjoyed this chapter or the novel so far, please help spread the word!
    <hr>
  </div>

  {% if page.sponsored %}
  <!-- <div class="spacer"> -->
  <table>
  <tr>
    <th>
      Sponsors
    </th>
  </tr>
  <!-- Sponsors Go Here -->
  <script type="text/javascript">
    var cost = {{ page.characters }} * temperedimmortal.dpc;
    var beforecost = 0;
  </script>
  {% for chapter in site.translated %}

    {% if page.name == chapter.name %}
      {% break %}
    {% endif %}

    {% if chapter.sponsored %}
      <script type="text/javascript">
        beforecost += {{ chapter.characters }} * temperedimmortal.dpc;
      </script>
    {% endif %}
  {% endfor %}
  <script type="text/javascript">
  </script>
  {% for sponsor in site.data.sponsors %}
    <script type="text/javascript">
      if(beforecost > 0 )
      {
        if(beforecost - {{ sponsor.amount }} < 0)
        {
          document.write("<tr><td><strong>{{ sponsor.name }}</strong></td><td>" + curfy({{ sponsor.amount }}) + "</td></tr>");
          cost -= beforecost - {{ sponsor.amount }};
          beforecost = 0;
        }
        else
        {
          beforecost -= {{ sponsor.amount }};
        }
      }
      else if(cost > 0)
      {
        document.write("<tr><td><strong>{{ sponsor.name }}</strong></td><td>" + curfy({{ sponsor.amount }}) + "</td></tr>");
        cost -= {{ sponsor.amount }};
      }
    </script>
  {% endfor %}
  </table>
  <hr>
  <br />
  <!-- </div> -->
  {% endif %}


  {{ content }}


  {% assign ntime = site.time | date: '%s' | plus: 0 %}
  {% assign zero = 0 | plus: 0 %}

  {% for chapter in site.translated %}
    {% if chapter.name == page.name %}

      {% unless forloop.first %}
        <br />
        <a href="{{ site.baseurl }}{{ prev.url }}">Previous Chapter: {{ prev.name }}</a>
      {% endunless %}

      {% unless forloop.last %}
        {% assign next = site.translated[forloop.index] %}

        {% assign dtime = next.date | date: '%s' | plus: 0 | minus: ntime %}

        {% if dtime < zero %}
          <br />
          <a href="{{ site.baseurl }}{{ next.url }}">Next Chapter: {{ next.name }}</a>
        {% endif %}

      {% endunless %}

    {% endif %}

    {% assign prev = chapter %}

  {% endfor %}




  <!-- Display if post date greater the current date -->
  {% endif %}



</div>


{% include disqus.html %}
